name: Metrics
on:
  schedule: [{cron: "0 * * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: z-jxy
          template: classic
          base: activity, community, repositories, metadata
          config_timezone: America/New_York

      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: z-jxy
          template: classic
          base: ""
          config_timezone: America/New_York
          filename: metrics.plugin.languages.svg
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_ignored: html, css
          plugin_languages_details: bytes-size, percentage
          repositories_forks: yes

      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: z-jxy
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: America/New_York
          filename: metrics.*
