name: Metrics
on:
  schedule: [{cron: "0 * * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@v3.9
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: z-jxy
          template: classic
          base: activity, community, repositories, metadata
          config_timezone: America/New_York

      - uses: lowlighter/metrics@v3.9
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: z-jxy
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: America/New_York
          filename: metrics.*
